// Placeholder to allow overriding predefined variables smoothly.
$brand-color: #F9A571 !default;
$link-base-color: #3E72B4 !default;
$code-background-color: #ADADAD !default;
$text-color: #494949 !default;

$info: #FFDCCE !default;
